@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #13131F;
  color: #FEFBFB;
  font-family: 'Lexend Deca', sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: .6rem;
}

::-webkit-scrollbar-track {
  background: #282830;
}

::-webkit-scrollbar-thumb {
  background: #8257E6;
}